.image-list-container {
  /* display: flex;
  justify-content: center; */
  /* margin: 20px; */
}

.image-list {
  /* display: grid;
  grid-gap: 16px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.listItem {
  width: 100%;
  /* height: 500px; */
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  justify-items: center;
}

.image-container {
  height: 300px;
  width: 300px;
  /* position: relative; */
  z-index: -1;
}

.bio-details-wrapper {
  background-image: url("../../public/Imgs/paperBox.svg");
  background-size: 310px;
  background-repeat: no-repeat;
  /*filter: drop-shadow(0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.5));*/
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.3));
  width: 300px;
  height: 300px;
}

.bio-image {
  width: 210px;
  height: 290px;
  border-radius: 10px;
  object-fit: cover;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.3));
}

.image-details {
  /*  padding: 16px;
 background: linear-gradient(to left, rgb(207, 166, 5), rgb(248, 230, 32));
  background-color: rgb(255, 128, 82, 0.25);*/
}

.gender-Icon {
  width: 18px;
  align-self: center;
}

.image-details .bioName {
  margin: 0;
  font-size: 20px;
  color: wheat;
  transform: translate(-27px, 150px);
}

.image-details .bio-gender-age {
  font-size: 15px;
  color: wheat;
  transform: translate(-1px, -27px);
  display: flex;
  justify-content: center;
}

/* @media (min-width: 1280px) {
  .image-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .image-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 959px) {
  .image-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .image-list-container {
    margin: 40px;
  }
} */
