.dot {
  width: 5px;
  height: 5px;
  background-color: #f9a24bcb;
  border-radius: 50%;
  margin: 0;
}
.custom-tile {
  position: relative;
}
.custom-tile .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calanderPlusDetailsWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.calanderPlusDetails {
  display: flex;
  align-items: center;
}
.calendarDetails {
  padding: 10px;
  border-left: 2px ridge rgb(70, 30, 10);
}
.calendarTitle {
  color: rgb(70, 30, 10);
  text-align: center;
}
.calendarDetailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.eventLocation {
  color: wheat;
  font-weight: 700;
  font-size: 1.1rem;
}
.eventDate {
  border-bottom: 1px solid gray;
  font-weight: 400;
}
:global(.react-calendar) {
  max-width: 400px;
  max-height: 400px;
  color: #222;
  border-radius: 10px;
  border: transparent;
}
:global(.react-calendar__navigation__label) {
  color: #f9a24bcb;
  font-weight: 700;
  font-size: 1.1rem;
}
:global(.react-calendar__tile--now) {
  background-color: wheat;
  border-radius: 50%;
}
:global(.react-calendar__till) {
  max-width: 40px;
  max-height: 40px;
  padding: 0;
}
