.filterBar-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px;
}

.filterClearButton-wrapper {
  display: flex;
  min-height: 40px;
}

.filterClearButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtering {
  min-width: 95%;
  min-height: 80%;
  border-radius: 5px;
  color: white;
  background-color: rgb(255, 128, 82);
  border: 2px solid rgb(255, 128, 82);
}

.clearAll {
  min-width: 95%;
  min-height: 80%;
  border-radius: 5px;
  background-color: white;
  color: rgb(255, 128, 82);
  border: 2px solid rgb(255, 128, 82);
}

.filtering:hover {
  background-color: white;
  color: rgb(255, 128, 82);
}
.clearAll:hover {
  background-color: rgb(255, 128, 82);
  color: white;
}

@media (min-width: 1280px) {
  .filterBar-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .filterBar-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 70px;
  }
  .filterBar {
    margin: 10px;
  }

  .filtering {
    justify-self: flex-end;
  }

  .clearAll {
    justify-self: flex-start;
  }
}

@media (max-width: 959px) {
  .filterBar-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .filterBar {
    margin: 10px;
  }
  .filtering {
    min-width: 100%;
    min-height: 100%;
  }

  .clearAll {
    min-width: 100%;
    min-height: 100%;
  }
}
