.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.underline {
  text-decoration: underline;
}

.App {
  max-width: 40%;
}

.adoptionButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .App {
    max-width: 90%;
  }
}
